.nav    
    .logo Trevland
    .menu 
        a(href="#") Home  
        a( href="#") Location
        a(href="#") Blog
        a(href="#") About
        a(href="#") Contact 
    .hamburger-menu
    
        input(id="menu__toogle" type="checkbox")
        ul.menu__box 
            li 
                a( class="menu__item" href="#") Home  
            li 
                a(class="menu__item" href="#") Location
            li 
                a(class="menu__item" href="#") Blog
            li 
                a(class="menu__item" href="#") About
            li 
                a(class="menu__item" href="#") Contact
       
        label(class="menu__btn" for= "menu__toogle") 
            span 
    //- button 
    //-     span Booking now